<?xml version="1.0"?>
<launch>

    <include file="$(find eufs_gazebo)/launch/small_track.launch" />

    <node name="laser2pc" pkg="laser2PC" type="laser2point.py" output="screen"/>

     <node name="perception_pipeline" pkg="perception_pipeline" type="perception_pipeline.py" output="screen"/>

    <include file="$(find pixel_cloud_fusion)/launch/pixel_cloud_fusion.launch" />

    <node name="pointcloud_process" pkg="pointcloud_process" type="last_script.py" output="screen"/>

    <include file="$(find pure_pursuit)/launch/pure_pursuit.launch" />

    <include file="$(find gmapping)/launch/gmapping.launch" />

</launch>