<?xml version="1.0"?>
<robot name="perceus">
    <link name="dummy"></link>
    <link name="base_link">
        <inertial>
            <mass value="100.0" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="1.391" ixy="0.004" ixz="0.0" iyy="6.853" iyz="0.0" izz="6.125" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.5" rpy="0 0 0" />
            <geometry>
                <box size="2.0 2.0 1.0" />
            </geometry>
        </visual>
        <collision>
            <geometry>
                <box size="3 3 2" />
            </geometry>
        </collision>
    </link>
    <joint name="dummy_joint" type="fixed">
        <parent link="dummy" />
        <child link="base_link" />
    </joint>
</robot>